body {
	background: #0f2431;
}
.wrapper {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #a8c2d1;
	padding: 50px;
	color: #fff;
	text-align: center;
	font-size: 21px;
	border-radius: 15px;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: poppins;
	margin-bottom: 10%;
}
input{
	border-radius: 15px;
}
input[type="text"] {
	height: 45px;
	margin: 5px;
}
input[type="text"]::placeholder {
    font-size: 22px; 
    color: #c5c3c3; /
}

input[type="text"] {
	font-size: 28px;
}
button {
	background: #062549;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 17px 33px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: poppins;
	letter-spacing: 2px;
	font-weight: bold;
	border-radius: 5px;
}
input[type="radio"] {
	width: 22px;
	height: 22px;
}
h1{
	font-size: 30px;
	text-transform: uppercase;
	font-family: poppins;
}

b {
	font-size: 30px;
}

